Introduction to Data Science <br>
Winter 2018

# Homework 1 
Due Saturday, 1/13, 3:00am
20 points

Please complete this notebook by filling in the cells provided. Once you are finished, "Save and Checkpoint" the notebook, download the ipynb and html versions to your computer, and submit the html version.

### 1. Names and Assignment Statements (5 points)

**Question 1.** When you run the following cell, Python produces a cryptic error message.

In [ ]:
4 = 2 + 2

Choose the best explanation of what's wrong with the code, and then assign 1, 2, 3, or 4 to `names_q1` below to indicate your answer.

1. Python is smart and already knows `4 = 2 + 2`.

2. `4` is a number, and it doesn't make sense to make a number be a name for something else. In Python, "`x = 2 + 2`" means "assign `x` as the name for the value of `2 + 2`."

3. It should be `2 + 2 = 4`.

4. I don't get an error message. This is a trick question.

In [ ]:
names_q1 = ...

**Question 2.** When you run the following cell, Python will produce another cryptic error message.

In [ ]:
two = 3
six = two plus two

Choose the best explanation of what's wrong with the code and assign 1, 2, 3, or 4 to `names_q2` below to indicate your answer.

1. The `plus` operation only applies to numbers, not the word "two".

2. The name "two" cannot be assigned to the number 3.

3. Two plus two is four, not six.

4. The name `two` cannot be followed directly by another name.

In [ ]:
names_q2 = ...

### 2. Differences between Universities (5 points)

**Question 1.** Suppose you'd like to *quantify* how *dissimilar* two universities are, using three quantitative characteristics.  The US Department of Education data on [UW](https://collegescorecard.ed.gov/school/?236948-University-of-Washington-Seattle-Campus) and [Cal](https://collegescorecard.ed.gov/school/?110635-University-of-California-Berkeley) describes the following three traits (among many others):

| Trait                                | UW     | Cal    |
|--------------------------------------|--------|--------|
| Average annual cost to attend ($)    | 13,566 | 13,707 |
| Graduation rate (percentage)         | 83     | 91     |
| Socioeconomic Diversity (percentage) | 25     | 31     |

You decide to define the dissimilarity between two universities as the maximum of the absolute values of the 3 differences in their respective trait values.

Using this method, compute the dissimilarity between UW and CAL.  Name the result `dissimilarity`.  Use a single expression (a single line of code) to compute the answer.  Let Python perform all the arithmetic (like subtracting 91 from 83) rather than simplifying the expression yourself. The built-in `abs` function takes absolute values.

In [ ]:
dissimilarity = ...
dissimilarity

**Question 2.** The national average annual cost of college is $16,126.50. If the average annual cost of UW and Cal were measured as a percentage of the national average rather than a dollar amount, what would be the dissimilarity between these two universities? Assign either 1, 2, or 3 to the name `universities_q2` below.

1. 1
2. 8
3. 141

In [ ]:
universities_q1 = ...

### 3. More Children Living at Home? (5 points)

A USA Today [article](http://usatoday30.usatoday.com/news/nation/2006-03-16-failure_x.htm) from 2006 includes this sentence: “Since 1970, the percentage of people ages 18 to 34 [in the United States] who live at home with their family increased 48%, from 12.5 million to 18.6 million, the Census Bureau says.”

**Question 1.** The word “percentage” isn’t used correctly in the context of the rest of the sentence. What word should replace it?

*Write your answer here, replacing this text.*

**Question 2.** In at most 3 sentences, describe whether [changes in the US population](https://www.google.com/publicdata/explore?ds=kf7tgg1uo9ude_&met_y=population&idim=country:US&hl=en&dl=en) are relevant to the data in the USA Today article.

*Write your answer here, replacing this text.*

### 4. Calculate monthly mortgage payment (5 points)

Suppose you take out a 30 year mortgage with a loan amount of $400,000 and an annual interest rate of 5%. What would your monthly payment be? 

Note: There is a fairly simple formula that you can find [here](https://www.thebalance.com/calculate-mortgage-315668)

In [ ]:
A = 400000
n = 12 * 30
i = 0.05 / 12

P = # your expression to go here

Do the same for a 15 year mortgage